#nav-container {
    margin: 4rem 4rem 4rem 4rem;
    background-color: #ffff;
    box-shadow: 10px 7px 72px rgba(0, 81, 160, 0.11);
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
    height: 100%;
    width: 100%;

}

#left-container {
    display: flex;
    align-items: center;

}

#right-container {
    display: flex;
    align-items: center;
    width: 100%;

}

.nav-logo {
    /* min-width: 1rem; */
    max-width: 10rem;
    /* min-height: 1rem; */
    max-height: 10rem;
}

.nav-item {
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.shop-box {
    padding: 1rem 2rem 1rem 2rem;
    background: linear-gradient(to right, #0074cc, #005699);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2);
    color: #ffff;
    display: flex;
    align-items: center;
}

/* Media query for smaller screens (tablet and below) */

@media (max-width: 834px) {
    #nav-container {
        margin: 1rem 1rem 1rem 1rem;
        flex-direction: column;
        align-items: center;
        /* font-size: 10px; */
    }

    .nav-item {
        padding: 0rem 1rem 0rem 1rem;
    }

    .shop-box {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    ul {
        justify-content: center;
    }
}

@media (max-width: 536px) {
    #nav-container {
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    #nav-container {
        font-size: 8px;
    }

    .nav-logo {
        width: 120px;
    }
}